# Dependencies and versioning for the jarombek-com-infrastructure AWS tests.
# Author: Andrew Jarombek
# Date: 11/24/2020

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=23.9.1"

[packages]
boto3 = ">=1.16.25"
aws_test_functions = {git = "https://github.com/ajarombek/cloud-modules.git", subdirectory = "aws-test-functions"}

[requires]
python_version = "3.8"

[scripts]
test = "python runner.py"
